.hero{
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.hero-text{
    width: 55%;
    margin: 8rem 0 0 8rem;
    font-family: "Mona sans" Arial, Helvetica, sans-serif !important;
} 

.hero-text h2{
    font-family: monospace !important;
}

.hero-text p{
    margin-top: 1.5rem;
}

.btn-grad {
    background-image: linear-gradient(to right, #FBD3E9 0%, #BB377D  51%, #FBD3E9  100%);
    margin: 3rem 0 0 8rem;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
    font-weight: 500;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
    
.hero-dot-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.dots{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-left: 10rem;
}

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
}

.dot.pink{
    background: #D65C82;
}

.hero-play{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 30px;
    margin-right: 8rem;
    font-size: 18px;
}

