.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    font-family: "Mona sans" Arial, Helvetica, sans-serif !important;  
} 

.nav-logo{
    display: flex;
    align-items: center;
    font-family: "Lavishly Yours";
}

.nav-logo img{
     height: 70px;
     width: 70px;
     margin: 0 5px 6px 0;
}

.nav-links{
    display: flex;
    gap: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.nav-links li{
     position: relative;
}
.nav-links li:hover{
    cursor: pointer;
    color: #E45A92;
}

.login-btn{
    border-radius: 70px;
    padding: 10px 35px;
    background-color: white;
    color: #262626;
    font-weight: 500;
    font-family: "Mona sans" Arial, Helvetica, sans-serif !important;  
}

.login-btn:hover{
    opacity: 0.85;
    cursor: pointer;
}

.menu-toggle{
    display: none;
}
.menu-toggle:hover{
   transform: scale(1.08);
}
@media (max-width: 800px) {
    .nav-logo p{
        font-size: 2.5rem;
    }

    .nav-logo img{
        height: 50px;
        width: 50px;
    }

    .nav-links{
        display: none;
        position: absolute;
        top: 80px;
        right: 4px;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: #3A0519;
        font-size: 16px;
        font-weight: bold;
        padding: 1rem;
        width: 150px;
        gap: 0.8rem;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .nav-links.open{
        display: flex;
    }
    .menu-toggle{
        display: block;
    }
    .login-btn{
        display: none;
    }

}